@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-1Thin.ttf') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-2ExtraLight.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-3Light.ttf') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-4Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-5Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-6SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-7Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-8ExtraBold.ttf') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Freesentation';
    src: url('/webfonts/Freesentation-9Black.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}